#page {
    width: 75%;
    margin: auto;
    background-color: #292A2B;
}

.menu-div {
    padding: 15px 25px 15px 25px;
    line-height: 30px;

}

#filter-button {
    float: right;
    background-color: #1E1E1F;
    border: none;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    color: #D7D7D7;
    cursor: pointer;
}

#input-search {
    background-color: #1E1E1F;
    color: #6C6C6C;
    border: none;
    float: left;
    height: 30px;
    width: 300px;
}

.choose-page-button {
    color: #D7D7D7;
    float: left;
    padding-right: 40px;
    font-size: 0.99rem;
    cursor: pointer;
}

.choose-page-button-selected {
    color: #FAFAFA;
    float: left;
    padding-right: 40px;
    font-size: 1rem;
    cursor: pointer;
}


.hr-long {
    border: 1px solid #1E1E1F;
    margin: 0;
}

.hr-short {
    border: 1px solid #1E1E1F;
    margin: 0 25px 0 25px;

}

.hr-red-left {
    border: 1px solid red;
    margin: 0;
    width: 175px;
}

.hr-red-right {
    border: 1px solid red;
    margin: 0 175px;
    width: 118px;
}


.modal .overlay {
    width: 100vw;
    height: 100vw;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

.modal-content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #0A0A0A;
    color: #F7F7F7;
    padding: 14px 28px;
    width: 400px;
    text-align: left;
    font-size: 12px;
}

#clean-button {
    background-color: #172A35;
    border: none;
    color: #F7F7F7;
    padding: 5px 10px 5px 10px;
    float: right;
    cursor: pointer;
    margin-top: 7px;
}

#header-filter {
    float: left;
    font-size: 25px;
    font-weight: bold;
}

#close-filter-button {
    cursor: pointer;
    background: #0A0A0A;
    color: #F7F7F7;
    border: none;
}


.input-salary {
    background-color: #292A2B;
    color: #F7F7F7;
    border: none;
    padding: 5px 10px 5px 10px;
    width: 100px;
    margin-right: 5px;
    font-size: 12px;
    margin-top: 5px;

}


#input-select-experience {
    background-color: #292A2B;
    color: #F7F7F7;
    border: none;
    padding: 7px 10px 7px 10px;
    font-size: 12px;
    margin-top: 5px;

}


.one-line-filter {
    margin-bottom: 15px;
    line-height: 20px;
    /*background-color: red;*/
}


.buttons-filter {
    float: right;
    margin-top: 25px;
}

#show-results-button {
    background-color: #E02735;
    color: #F7F7F7;
    border: none;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    margin-left: 15px;
}

.choose-filter-button {
    background-color: #292A2B;
    cursor: pointer;
    color: #F7F7F7;
    border: none;
    padding: 7px 10px 7px 10px;
    margin-right: 5px;
    font-size: 12px;
    margin-top: 5px;
}


.grade-input {
    background-color: #292A2B;
    color: #F7F7F7;
    border: none;
    padding: 7px 10px 7px 10px;
    font-size: 12px;
    width: 95%;
    margin-top: 5px;

}
